.scheduler-container {
  display: flex;
  height: 100vh;
  justify-content: center; 
}

.sidebar {
  width: 40%;
  padding: 1rem;
  background: linear-gradient(360deg, #FFDFDE, #FFBFBF);
}

.calendar-container {
  padding: 1rem;
  background: linear-gradient(to bottom, #6A7BA2, #4F5D7A);
  flex-grow: 1;
}

.app-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #6A7BA2;
  -webkit-text-stroke: 1px black;
}

.candidate-box, .engineer-box {
  background: linear-gradient(to bottom, #6A7BA2, #4F5D7A);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
  margin-bottom: 1rem;
}

.candidate-box label, .engineer-box label {
  color: #FFDFDE;
  font-size: 25px;
}

.engineer-box label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px black;
}

.engineer-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.engineer-names {
  color: #FFDFDE;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.engineer-photo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
}

.candidate-box label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px black;
}

.candidate-select {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #FFDFDE;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
}

.color-code-container{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  border: 1px solid #000;
}

.engineer-photo:hover {
  border: 2px solid white;
}

.booking-message {
  color: #FFDFDE;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}